.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-outer {
  margin-bottom: 1em;
}
.card-inner {
  width: 240px;
  background-color: white;
  margin: 0.75em;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 0 2px 2px silver;
}
.img-frame {
  height: 220px;
  display: flex;
  border-radius: inherit;
}
.img-frame > img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: auto;
  border-radius: inherit;
}
