.stats {
  margin-top: 0.5em;
  color: silver;
  font-size: 0.8em;
  display: flex;
}

.stats .link {
  flex-basis: 40%;
}

.stats .link a {
  text-decoration: none;
  color: inherit;
}

.stats .other {
  flex-basis: 60%;
  text-align: left;
}

.stats .other i {
  margin-left: 1em;
  display: block;
}

/* Tablet */
@media (min-width: 600px) {
  .stats .link {
    flex-basis: 50%;
  }

  .stats .other {
    flex-basis: 50%;
  }
}

/* Desktop */
@media (min-width: 993px) {
  .stats .link {
    flex-basis: 20%;
  }

  .stats .other {
    flex-basis: 80%;
    text-align: right;
  }

  .stats .other i {
    display: inline-block;
  }
}
