.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32,32,32,0.9);
}

.close {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.gif {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}